/.vs/
/Debug/
/ipch/
/Release/
/RCa09516
/RDa09516
/ReadMe.txt
/save.dat
/Sceleton.aps
/Sceleton.dsp
/Sceleton.dsw
/Sceleton.h
/Sceleton.ncb
/Sceleton.opt
/Sceleton.plg
/Sceleton.sdf
/Sceleton.sln
/Sceleton.suo
/Sceleton.v11.suo
/Sceleton.v12.suo
/Sceleton.VC.db
/Sceleton.vcxproj
/Sceleton.vcxproj.filters
/Sceleton.vcxproj.user
/Sceleton-DESKTOP-Q81J6GF.aps
